@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply text-gray-900;
}

button {
  cursor: pointer;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --color-primary: #032900;
  --color-background: #F5F7F2;
  --font-sans: var(--font-league-spartan-sans);
}
